/*Variables*/
:root {
  --main-color-light-red: hsl(0, 100%, 67%);
  --main-color-orangey-yellow: hsl(39, 100%, 56%);
  --main-color-green-teal: hsl(166, 100%, 37%);
  --main-color-cobalt-blue: hsl(234, 85%, 45%);
  --main-gradient-color-background-one: hsl(252, 100%, 67%);
  --main-gradient-color-background-two: hsl(241, 81%, 54%);
  --main-gradient-color-background-circle-1: hsla(256, 72%, 46%, 1);
  --main-gradient-color-background-circle-2: hsla(256, 72%, 46%, 1);
  --main-white: hsl(0, 0%, 100%);
  --main-pale-blue: hsl(221, 100%, 96%);
  --main-light-lavender: hsl(241, 100%, 89%);
  --main-light-lavender-span: hsl(240, 6%, 69%);
  --main-dark-gray-blue: hsl(224, 30%, 27%);
  --main-border-radius: 20px;
  --main-margin: 15px 0;
}
/*Font*/
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
/*HTML*/
html {
  font-size: 18px;
}
/*All*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*Body*/
body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: var(--main-white);
}
/*Start Results Summary*/
.results-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--main-white);
  width: 50%;
  height: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: var(--main-border-radius);
  -webkit-box-shadow: 9px 10px 25px 10px var(--main-pale-blue);
  box-shadow: 9px 10px 25px 10px var(--main-pale-blue);
}
.results-summary .result,
.results-summary .summary {
  width: 50%;
  padding: 40px;
}
.results-summary .result {
  border-radius: var(--main-border-radius);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--main-gradient-color-background-one)),
    to(var(--main-gradient-color-background-two))
  );
  background: -o-linear-gradient(
    var(--main-gradient-color-background-one),
    var(--main-gradient-color-background-two)
  );
  background: linear-gradient(
    var(--main-gradient-color-background-one),
    var(--main-gradient-color-background-two)
  );
  text-align: center;
}
.results-summary .result h2,
.results-summary .summary h2,
.results-summary .summary .sum-infos .sum-info p,
.results-summary .summary button {
  text-transform: capitalize;
}
.results-summary .result h2:first-of-type {
  margin: var(--main-margin);
  color: var(--main-light-lavender);
  font-weight: normal;
}
.results-summary .result h2:last-of-type {
  margin: var(--main-margin);
  color: var(--main-white);
  font-size: 1.5rem;
  font-weight: bold;
}
.results-summary .result .res-num {
  margin: var(--main-margin);
  width: 180px;
  height: 180px;
  margin: 0 auto;
  padding: 20px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--main-gradient-color-background-circle-1)),
    to(var(--main-gradient-color-background-one))
  );
  background: -o-linear-gradient(
    var(--main-gradient-color-background-circle-1),
    var(--main-gradient-color-background-one)
  );
  background: linear-gradient(
    var(--main-gradient-color-background-circle-1),
    var(--main-gradient-color-background-one)
  );
  border-radius: 50%;
}
.results-summary .result .res-num h2 {
  font-size: 5rem;
  color: var(--main-white);
}
.results-summary .result .res-num span {
  font-size: 0.9rem;
  color: var(--main-light-lavender);
}
.results-summary .result p {
  font-size: 1rem;
  color: var(--main-light-lavender);
  margin: var(--main-margin);
  line-height: 1.4;
}
.results-summary .summary h2 {
  font-size: 1.3rem;
  margin: var(--main-margin) 30px;
}
.results-summary .summary .sum-infos .sum-info {
  margin: var(--main-margin);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 10px;
  border-radius: calc(var(--main-border-radius) / 2);
}
.results-summary .summary .sum-infos .sum-info p {
  margin-left: 8px;
  font-size: 0.9rem;
  font-weight: 700;
}
/**1**/
.results-summary .summary .sum-infos .sum-info:first-child {
  background-color: hsla(0, 100%, 67%, 0.129);
}
.results-summary .summary .sum-infos .sum-info:first-child p:first-of-type {
  color: var(--main-color-light-red);
}
/****/
/**2**/
.results-summary .summary .sum-infos .sum-info:nth-child(2) {
  background-color: hsla(39, 100%, 56%, 0.129);
}
.results-summary .summary .sum-infos .sum-info:nth-child(2) p:first-of-type {
  color: var(--main-color-orangey-yellow);
}
/****/
/**3**/
.results-summary .summary .sum-infos .sum-info:nth-child(3) {
  background-color: hsl(166, 100%, 37%, 0.129);
}
.results-summary .summary .sum-infos .sum-info:nth-child(3) p:first-of-type {
  color: var(--main-color-green-teal);
}
/****/
/**4**/
.results-summary .summary .sum-infos .sum-info:last-child {
  background-color: hsl(234, 85%, 45%, 0.129);
}
.results-summary .summary .sum-infos .sum-info:last-child p:first-of-type {
  color: var(--main-color-cobalt-blue);
}
/****/
.results-summary .summary .sum-infos .sum-info {
  position: relative;
}
.results-summary .summary .sum-infos .sum-info p:last-of-type {
  position: absolute;
  right: 15px;
}
.results-summary .summary .sum-infos .sum-info p:last-of-type span {
  color: var(--main-light-lavender-span);
}
.results-summary .summary button {
  display: inline-block;
  margin-top: 16px;
  width: 100%;
  padding: 20px 10px;
  border: none;
  cursor: pointer;
  border-radius: calc(
    (var(--main-border-radius) * 2) + (var(--main-border-radius) / 2)
  );
  background-color: var(--main-dark-gray-blue);
  color: var(--main-white);
  font-size: 1rem;
  font-weight: 700;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.results-summary .summary button:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--main-gradient-color-background-one)),
    to(var(--main-gradient-color-background-two))
  );
  background: -o-linear-gradient(
    var(--main-gradient-color-background-one),
    var(--main-gradient-color-background-two)
  );
  background: linear-gradient(
    var(--main-gradient-color-background-one),
    var(--main-gradient-color-background-two)
  );
}
/*End Results Summary*/

/*Media Query */
@media (max-width: 912px) {
  .results-summary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-shadow: none;
  }
  .results-summary .result,
  .results-summary .summary {
    width: 100%;
    padding: 40px;
  }

  body {
    background-color: var(--main-white);
  }
  .results-summary .result {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
@media (min-width: 920px) and (max-width: 1279px) {
  .results-summary {
    width: 65%;
    height: 95%;
  }
}
